<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pengsiyuan.ppbluetoothle">

    <application
        android:name=".PPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.BleConfigWifiActivity"></activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BindingDeviceActivity" />
        <activity android:name=".activity.DeviceListActivity" />
        <activity android:name=".activity.BodyDataDetailActivity" />
        <activity android:name=".activity.BMDJConnectActivity" />
        <activity android:name=".activity.BMDJTimeActivity" />
        <activity android:name=".activity.BMDJIntroduceActivity" />
    </application>

</manifest>